<!DOCTYPE html>
<html>

<head>
    <title>Adicionar Tarefa</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="centralizar">
        <h1>Adicione uma nova tarefa</h1>
        <form action="/api/tasks/add" method="post">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description" required>
            <br>
            <label for="deadline">Prazo da tarefa:</label>
            <input type="date" id="deadline" name="deadline" required>
            <br>
            <label for="urgency">Urgência:</label>
            <select id="urgency" name="urgency" required>
                <option value="long-term">Longo-Prazo</option>
                <option value="medium-term">Médio-Prazo</option>
                <option value="urgent">Urgente</option>
            </select>
            <br>
            <button type="submit">Adicionar Tarefa</button>
        </form>
        <button>
            <a href="/api/tasks">Voltar</a>
        </button>
    </div>
</body>

</html>