<!DOCTYPE html>
<html>

<head>
    <title>Tarefas Concluídas</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="centralizar">
        <h1>Aqui estão as tarefas que você já completou!</h1>
        <ul class="concluidas">
            <% tasks.forEach(task=> { %>
                <li>
                    <h2>
                        <%= task.title %>
                    </h2>
                    <p><strong>Descrição:</strong>
                        <%= task.description %>
                    </p>
                    <p><strong>Prazo:</strong>
                        <%= task.deadline %>
                    </p>
                    <p><strong>Urgência:</strong>
                        <%= task.urgency %>
                    </p>
                </li>
                <% }); %>
        </ul>
        <button>
            <a href="/api/tasks">Volte para sua lista de tarefas.</a>
        </button>
    </div>
</body>

</html>