<!DOCTYPE html>
<html>

<head>
    <title>TaskMind</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="centralizar">
        <h1>Bem vindo ao TaskMind!</h1>
        <h3>Feito para você não esquecer das suas principais tarefas do dia-a-dia.</h3>
        <p>Você já tem uma conta?<br>Caso já tenha, pode fazer seu login, caso não tenha, fique a vontade para fazer seu
            cadastro!</p>
        <div class="botoes">
            <button>
                <a href="/auth/login">Login</a>
            </button>
            <button>
                <a href="/auth/register">Cadastrar</a>
            </button>
        </div>
    </div>
</body>

</html>