<!-- src/views/quote.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Motivational Quote</title>
</head>
<body>
    <h1>Motivational Quote</h1>
    <p><strong><%= quote.content %></strong> - <%= quote.author %></p>
    <a href="/api/tasks">Back to Tasks</a>
</body>
</html>
