<!DOCTYPE html>
<html>

<head>
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="centralizar">
        <h1>Que bom ter você de volta, meu amigo(a)!</h1>
        <form action="/api/tasks/filter" method="post">
            <label for="urgency">Filtre aqui a urgência de sua tarefa:</label>
            <select id="urgency" name="urgency">
                <option value="all">Todas</option>
                <option value="long-term">Longo-Prazo</option>
                <option value="medium-term">Médio-Prazo</option>
                <option value="urgent">Urgente</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
        <ul>
            <% tasks.forEach(task=> { %>
                <li>
                    <span class="urgency-dot <%= task.urgency %>"></span>
                    <a href="/api/tasks/view/<%= task.id %>">
                        <%= task.title %>
                    </a>
                </li>
                <% }); %>
        </ul>
        <div class="ajuste-task">
            <button>
                <a href="/add-task">Adicionar Tarefa</a>
            </button>
            <button>
                <a href="/completed-tasks">Tarefas completas</a>
            </button>
            <button>
                <a href="/api/tasks/quote">Frase Motivacional</a>
            </button>
            
            <button>
                <a href="/auth/logout">Logout</a>
            </button>
        </div>
    </div>
</body>

</html>