body {
    background-image: linear-gradient(to right, black, #221133);
    color: #dfdfdf;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: #a703af;
    position: relative;
    padding-bottom: 20px;
    z-index: 1;
}

h1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(167, 3, 175, 0), rgba(167, 3, 175, 1), rgba(167, 3, 175, 0));
}

h1, h2, h3, h4, h5, h6 {
    color: #a703af;
    z-index: 1;
}

h2, h3, h4, h5, h6, p {
    padding-top: 20px;
    z-index: 1;
}

.centralizar {
    background: linear-gradient(
        to right, black, #221133
    );
    position: relative;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.centralizar::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 500%;
    background: linear-gradient(180deg, #a703af, #5f0064);

    animation: animate 3s linear infinite;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

.centralizar::after {
    content: "";
    position: absolute;
    background: linear-gradient(
        to right, black, #221133
    );
    inset: 5px;
    border-radius: inherit;
}

.botoes {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    z-index: 1;
}

button {
    background-color: #a703af;
    color: #dfdfdf;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-family: Poppins;
    font-weight: 600;
}

button:hover {
    background-color: #8c0292;
}

a {
    color: #dfdfdf;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: Poppins;
    font-weight: 600;
    z-index: 1;
}

a:hover {
    color: #ffffff;
}

form {
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    z-index: 1;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a703af;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #dfdfdf;
    z-index: 1;
}

input[type="submit"], button {
    width: auto;
    z-index: 1;
}

.ajuste-task {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    z-index: 1;
}

.concluidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.concluidas li {
    background: none;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #a703af;
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

ul li {
    background: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

ul li a {
    color: #dfdfdf;
    text-decoration: none;
    font-family: Poppins;
}

ul li a:hover {
    color: #ffffff;
}

.urgency-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.long-term {
    background-color: green;
}

.medium-term {
    background-color: yellow;
}

.urgent {
    background-color: red;
}

.voltar-btn {
    padding-top: 20px;
    z-index: 1;
}
